<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.nikhil.secfamfinal1">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/myAppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".postView.PostViewImage"></activity>
        <activity android:name=".postView.PostViewLink" />
        <activity android:name=".postView.PostViewVideo" />
        <activity android:name=".postView.PostViewText" />

        <service
            android:name=".Map.VictimLocationUpdateService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Post.LinkOpenerActivity" />
        <activity
            android:name=".Post.ExoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".Facebook.Facebook_Test_Ad" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network_security_config" />

        <activity android:name=".SplashScreenActivity" />
        <activity android:name=".Chat.ConversationActivity" />
        <activity android:name=".Chat.ChatHomeActivity" />
        <activity android:name=".Profile.FollowingActivity" />
        <activity android:name=".Profile.FollowerActivity" />
        <activity android:name=".Profile.Edit_Profile_Activity" />
        <activity android:name=".Emergency.HistoryDetails" />
        <activity android:name=".Upload.Upload_Text" />
        <activity android:name=".Upload.Upload_Video" />
        <activity android:name=".Upload.Upload_Photo" />
        <activity android:name=".Emergency.MapVideoActivity" />
        <activity android:name=".LiveVideo.LiveVideoBroadcast" />
        <activity android:name=".Emergency.EmergencyActivity" />
        <activity android:name=".Search.SearchActivity" />
        <activity android:name=".Post.CommentsActivity" />
        <activity android:name=".Post.VideoActivity" />
        <activity android:name=".Post.VideoExample" />
        <activity android:name=".Post.ShowAlIPostmages" />
        <activity android:name=".Authentication.OtpActivity" />
        <activity android:name=".Profile.ProfilePostActivity" />
        <activity android:name=".Profile.ProfileActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Theme.AppCompat" />

        <service android:name=".Notification.MyFirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Location.Mylocationshare" />
        <service android:name=".LocationService.TrackingService"
            android:foregroundServiceType="location"/>

        <activity
            android:name=".Post.PostActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Authentication.RegisterActivity" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />

        <provider
            android:name=".utils.MyFileProvider"
            android:authorities="@string/authority"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>